* {
  font-family: "JetBrains Mono Nerd Font";
  font-size: 14px;
}

window {
  margin: 4px;
  border: 2px solid #f38d70;
  background-color: #19181a;
  border-radius: 3px;
}

#outer-box {
  margin: 2px;
  padding: 2px;
  background-color: #19181a;
  border-radius: 12px;
}

#input {
  margin: 6px;
  padding: 4px 8px;
  border: none;
  border-radius: 8px;
  color: #fcfcfa;
  background-color: #403e41;
}

#inner-box {
  margin: 6px;
  background-color: #19181a;
}

#scroll {
  margin: 0px;
}

#text {
  margin: 2px;
  color: #fcfcfa;
}

#entry {
  padding: 4px 8px;
  border-radius: 8px;
}

#entry:selected {
  background-color: #f38d70;
  color: #19181a;
}

