* {
  font-family: "JetBrains Mono Nerd Font";
  font-size: 14px;
}

window {
  margin: 0px;
  border: 3px solid #a7c080;
  background-color: #2d353b;
  border-radius: 8px;
}

#outer-box {
  margin: 0px;
  padding: 6px;
  background-color: #2d353b;
}

#input {
  margin: 6px;
  padding: 4px 8px;
  border: none;
  border-radius: 0px;
  color: #d3c6aa;
  background-color: #424b50;
}

#inner-box {
  margin: 6px;
  background-color: #2d353b;
}

#scroll {
  margin: 0px;
}

#text {
  margin: 2px;
  color: #d3c6aa;
}

#entry {
  padding: 4px 8px;
  border-radius: 0px;
}

#entry:selected {
  background-color: #a7c080;
  color: #2d353b;
}

