default_shell "bash"
default_theme "gruvbox-dark"
default_layout "compact"

mouse_mode false
copy_command "wl-copy"
pane_viewport_serialization true
show_startup_tips false

env {
  EDITOR "nvim"
  VISUAL "nvim"
  LANG "en_GB.UTF-8"
}
