
* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 12px;
    border-radius: 12px;
    min-height: 0;
    border: none;
    box-shadow: none;
    text-shadow: none;
}

window#waybar {
    background: transparent;
    margin: 60px 40px 10px 10px;
    color: #FFFFFF;
    border-radius: 8px;
}

.modules-left,
.modules-center,
.modules-right {
    margin: 0;
}

/* -------------------- WORKSPACES -------------------- */

#workspaces {
    padding: 3px 4px;
    margin: 0px;
}

#workspaces button {
    color: #fcfcfa;
    background: rgba(255,255,255,0.05);
    padding: 2px 8px;
    margin: 4px;
    border-radius: 12px;
}

#workspaces button.active {
    color: #FFA500;
    background: rgba(255,165,0,0.15);
}

#workspaces button.special {
    color: #fcfcfa;
}

#workspaces button.special.active {
    color: #FFA500;
}

#workspaces button:hover {
    color: #FFA500;
    background: rgba(255,165,0,0.2);
}

#workspaces button.urgent {
    color: #fd6883;
    background: rgba(253,104,131,0.2);
}

/* -------------------- WINDOW / TRAY / CLOCK -------------------- */

#window,
#tray,
#clock {
    padding: 3px 4px;
    margin: 0px;
}

#window {
    font-weight: 700;
}

#clock {
    color: #FFB347;
    font-weight: 900;
    padding: 2px 4px;
}

/* -------------------- MAIN MODULE CHIPS -------------------- */

#network,
#custom-lock,
#custom-reboot,
#bluetooth,
#battery,
#pulseaudio,
#backlight,
#custom-temperature,
#memory,
#cpu,
#custom-power {
    color: #fcfcfa;
    padding: 2px 8px;
    margin: 4px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 12px;
}

/* -------------------- STATES -------------------- */

#pulseaudio.muted,
#custom-temperature.critical {
    color: #fd6883;
}

#battery.warning {
    color: #FFA500;
}

#battery.critical {
    color: #fd6883;
}

#battery.charging {
    color: #FFA500;
}

/* -------------------- HOVER EFFECTS (TEXT + BG) -------------------- */

#network:hover,
#bluetooth:hover,
#battery:hover,
#pulseaudio:hover,
#backlight:hover,
#custom-temperature:hover,
#memory:hover,
#cpu:hover,
#clock:hover,
#window:hover {
    color: #FFA500;
    background: rgba(255, 165, 0, 0.18);
}

#custom-lock:hover,
#custom-reboot:hover,
#custom-power:hover {
    color: #fd6883;
    background: rgba(253, 104, 131, 0.18);
}

/* -------------------- TOOLTIP -------------------- */

tooltip {
    background: #1a1a1a;
    border: 1px solid #FFA500;
    color: #FFFFFF;
    border-radius: 6px;
}

